body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  color: #11999E;
  font-weight: bold;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-color: #EAF6F6;
  border-width: 5px;
}
a:hover{
  color: #EAF6F6;
}

.skills {
  margin: 100px auto 100px auto;
  line-height: 2;
}

.profile {
  margin: 100px auto 100px auto;
  width: 30%;
  line-height: 2;
}

.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
}

.contact-me {
  line-height: 2;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.cloud1 {
  position: absolute;
  right: 350px;
  top: 40px;
}

.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
}

.design {
  text-align: left;
  line-height: 2;
}

.other-skills {
  text-align: left;
  line-height: 2;
}

.skill-image {
  float: left;
  padding-right: 30px;
  padding-bottom: 10px;
}

.computer-image {
  float: right;
  padding-left: 10px;
  padding-top: 0;
}

.contact-me {
  margin: 100px auto;
  width: 50%;
  line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.hobbies{
  padding-bottom: 20px
}
.footer-link {
  padding: 0 20px 0 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-container {
  margin: auto;
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 20px;
  line-height: 2;
}
